.page-breadcrumbs {
    font-size: 15px;
    line-height: 1.4;
    color: #c8ceeb;

    ul {
        padding-left: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        vertical-align: middle;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    a {
        vertical-align: middle;
        color: inherit;
        text-decoration: none;

        &::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 15px;
            margin-left: 19px;
            background-image: url('../images/breadcrumb_arrow.svg');
        }
    }

    span {
        pointer-events: none;
        vertical-align: middle;
    }
}