.page-img-banner {
    $page-panner: &;

    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 92px 60px;
    margin-bottom: 90px;

    &--color-white {
        color: #fff;

        #{$page-panner}__text {
            color: #fff;
        }
    }

    &__text {
        max-width: 450px;
        margin-top: 25px;
        color: #666666;
    }

    a {
        color: #ffd32b;
        text-decoration: underline;
    }
}