.tabs-progress.tabs-progress--inner
    .tabs-progress__content
        .tabs-progress__tab-list
            .tabs-progress__progress-bar
                .tabs-progress__progress-line
            .row
                .col-md-2
                    .tabs-progress__tab-link.tabs-progress__tab-link--active
                        | Есть идея
                        .tabs-progress__icon
                            svg(width="23" height="32")
                                use(xlink:href="#30--idea_small")
                        .tabs-progress__tab-content
                            .row
                                .col-md-4
                                    .tabs-progress__tab-image
                                        svg(width="112" height="93")
                                            use(xlink:href="#30--idea")
                                .col-md-8
                                    .tabs-progress__tab-title У вас есть идея  —
                                    .tabs-progress__tab-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, numquam.
                .col-md-2
                    .tabs-progress__tab-link
                        | Провожу
                        br
                        | исследования
                        .tabs-progress__icon
                            svg(width="25" height="33")
                                use(xlink:href="#30--research_small")

                        .tabs-progress__tab-content
                            .row
                                .col-md-4
                                    .tabs-progress__tab-image
                                        svg(width="112" height="93")
                                            use(xlink:href="#30--research")
                                .col-md-8
                                    .tabs-progress__tab-title Провожу исследования  —
                                    .tabs-progress__tab-text | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis obcaecati rem, dolores necessitatibus optio similique?
                .col-md-2
                    .tabs-progress__tab-link
                        | Есть прототип
                        .tabs-progress__icon
                            svg(width="35" height="30")
                                use(xlink:href="#30--prototype_small")
                        .tabs-progress__tab-content
                            .row
                                .col-md-4
                                    .tabs-progress__tab-image
                                        svg(width="112" height="93")
                                            use(xlink:href="#30--prototype")
                                .col-md-8
                                    .tabs-progress__tab-title
                                        | У вас есть прототип  —
                                    .tabs-progress__tab-text
                                        | Поможем  с первыми внедрениями и промышленными испытаниями, а также разработаем  конструкторскую документацию и поможем организовать мелкосерийное  производство.
                .col-md-2
                    .tabs-progress__tab-link
                        | Есть продукт
                        .tabs-progress__icon
                            svg(width="21" height="30")
                                use(xlink:href="#30--product_small")
                        .tabs-progress__tab-content
                            .row
                                .col-md-4
                                    .tabs-progress__tab-image
                                        svg(width="112" height="93")
                                            use(xlink:href="#30--prototype")
                                .col-md-8
                                    .tabs-progress__tab-title
                                        | У вас есть продукт  —
                                    .tabs-progress__tab-text
                                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore necessitatibus rem dolores aspernatur reiciendis natus? Quis quidem sed asperiores dolorum! Modi odio quibusdam, officia ullam ab enim sit saepe beatae?
                .col-md-2
                    .tabs-progress__tab-link
                        | Произвожу
                        br
                        | мелкую серию
                        .tabs-progress__icon
                            svg(width="33" height="33")
                                use(xlink:href="#30--sery_small")
                        .tabs-progress__tab-content
                            .row
                                .col-md-4
                                    .tabs-progress__tab-image
                                        svg(width="112" height="93")
                                            use(xlink:href="#30--sery")
                                .col-md-8
                                    .tabs-progress__tab-title
                                        | Произвожу мелкую серию  —
                                    .tabs-progress__tab-text
                                        | Lorem ipsum dolor sit amet consectetur adipisicing.
                .col-md-2
                    .tabs-progress__tab-link
                        | Запускаю
                        br
                        | серийное
                        br
                        | производство
                        .tabs-progress__icon
                            svg(width="32" height="32")
                                use(xlink:href="#30--fabric_small")
                        .tabs-progress__tab-content
                            .row
                                .col-md-4
                                    .tabs-progress__tab-image
                                        svg(width="112" height="93")
                                            use(xlink:href="#30--fabric")
                                .col-md-8
                                    .tabs-progress__tab-title Запускаю серийное производство  —
                                    .tabs-progress__tab-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, quas quis! Molestias.
