doctype html
html(lang="ru")
	include partails/head.pug
	body

		include partails/header.pug

		.inner-top
			img.inner-top__img(src="images/inner-top-img.png" alt="")

		.page.page--404
			.page__container.page__container--inner.container
				.page__content
					.page__header.page-header
						.page-header__breadcrumbs.page-breadcrumbs
							ul
								li
									a(href='#') Главная
								li
									span Ошибка 404
						.page-header__content
							.page-header__subtitle Технопарк высоких технологий Свердловской области
							.page-header__title Страница 404


					.page-img-banner.page-img-banner--color-white(style="background-image: url('images/404-bg.jpg')")
						.page-img-banner__container
							h2.page-img-banner__title Страница не найдена
							p.page-img-banner__text К сожалению, мы не можем найти запрашиваемую страницу. Повторите поиск или вернитесь #[a(href="#") на Главную]


					include partails/redirect.pug





		include partails/footer.pug
		include partails/scripts.pug
