doctype html
html(lang="ru")
	include partails/head.pug
	body

		include partails/header.pug

		.inner-top
			img.inner-top__img(src="images/inner-top-img.png" alt="")

		.page
			.page__container.page__container--inner.container
				.page__content
					.page__header.page-header
						.page-header__breadcrumbs.page-breadcrumbs
							ul
								li
									a(href='#') Главная
								li
									a(href='#') Услуги Технопарка
								li
									span Навигатор Инноватора
						.page-header__content
							.page-header__subtitle Технопарк высоких технологий Свердловской области
							.page-header__title Навигатор Инноватора


					.event-d-info
						each i in ['calendar']
							.event-d-info__item
								svg(class="event-d-info__img svg-" + i)
									use(xlink:href="#17--" + i)
								.event-d-info__title Дата:
								.event-d-info__value 13 ноября 2018


					.text-block
						img.float-left(src="images/img-article-detail.jpg", alt="")
						p Остается чуть более трех суток для регистрации желающих участвовать в Школе «Навигатор инноватора». Мероприятие организовано Фондом Сколково, Открытым университетом Сколково и Технопарком «Университетский». Регистрация производится на сайте Открытого университета Сколково. http://sk.ru/opus/p/ni-ekaterinburg-2018.aspx Завершается регистрация  в 9:00 мск 17 сентября. Школа начинает свою работу 25 сентября. Обучение будет производиться в течение 4-х дней (25-28 сентября).Участников программы выберут  эксперты Сколково на основе конкурса. По итогам конкурсных процедур будут отобраны 140 участников и 8-10 проектов. Вечером 18 сентября отобранные кандидаты будут оповещены о мск 17 сентября. Школа начинает свою работу 25 сентября. Обучение будет производиться в течение 4-х дней (25-28 сентября).Участников программы выберут  эксперты Сколково на основе конкурса. По итогам конкурсных процедур будут отобраны 140 участников и 8-10 проектов. Вечером 18 сентября отобранные кандидаты будут оповещены

						h4 Заголвок
						p Сферы приложения проектов: энергоэффективность и энергосбережение, промышленные технологии, информационные технологии, биомедицинские технологии. Все участники разделятся на команды по 8-10 человек  и в командах «отшлифуют» отобранные экспертами Сколково проекты. Проекты пройдут в ускоренном режиме все стадии развития стартапа: разработка продукта, определение рынка и потребителей, защита интеллектуальной собственности, упаковка и презентация проекта. Работа над проектами будет производиться совместно с экспертами и менторами Сколково. 28 сентября проекты представят  вниманию  участников всех команд и на обсуждение экспертов.По итогам всем участникам будет выдан Сертификат о прохождении обучения в Школе «Навигатор инноватора».





					.text-block
						h3 Фотогалерея

					.photogallery.js-photogallery-slider
						.photogallery__main
							.photogallery__counter.photogallery-counter.js-slider-counter
								.photogallery-counter__current.js-slider-current 1
								span /
								.photogallery-counter__all.js-slider-all 1
							.photogallery__slider-main.js-photogallery-main-slider
								each slide in [1,2,3,4,1,2,3]
									.photogallery__slide.photogallery-slide
										img.photogallery-slide__img(src="images/photogallery-img.jpg" alt="")
										p.photogallery-slide__text Возможность добраться на общественном тарнспорте, большая парковка,территория с чистым воздухом в черте города
							svg.photogallery__arrow-prev.js-photogallery-prev
								use(xlink:href="#5--arrow_left")
							svg.photogallery__arrow-next.js-photogallery-next
								use(xlink:href="#5--arrow_right")

						.photogallery__slider-thumb.js-photogallery-thumb-slider
							each thumb in [1,2,3,4,1,2,3]
								.photogallery__thumb.photogallery-thumb
									.photogallery-thumb__img-wrapp
										img.photogallery-thumb__img(src="images/thumb-img-"+thumb+".jpg" alt="")


					.text-block
						h3 Видео с мероприятия

					.video-block
						.video-block__grid
							each i in [1,2]
								a.video-block__item(data-fancybox href="https://www.youtube.com/watch?v=-5JVZqXvMy0")
									img.video-block__img(src="images/video-img-"+i+".png" alt="")
						.video-block__info
							.video-block__stats
								.video-block__stat
									svg.svg-reply
										use(xlink:href="#17--reply")
									span Поделилось (34)
								.video-block__stat
									svg.svg-veivs
										use(xlink:href="#17--veivs")
									span Просмотров (34)

							.video-block__share
								span Поделитесь в соц.сетях:
								.video-block__share-icons
									svg(class="share-icon-vk")
										use(xlink:href="#32--vk")
									svg(class="share-icon-tw")
										use(xlink:href="#32--tw")
									svg(class="share-icon-fb")
										use(xlink:href="#32--fb")


					.text-block
						h3 Комментарии

					.comments-block
						ul.comments-block__list
							each i in [1,2]
								li.comments-block__item.comment
									p.comment__text С командой из двух десятков человек на борту отправился из порта в штате Массачусетс на китобойный промысел. Осенью 1820-го охота была прервана атакой гигантского кашалота на судно, в результате чего морякам пришлось пересесть в шлюпки. В течение трех с лишним месяцев они боролись за выживание посреди океана.

									.comment__info
										.comment__person
											svg.svg-user
												use(xlink:href="#17--user")
											span Владислав Постнов
										.comment__date
											svg.svg-calendar-mini
												use(xlink:href="#17--calendar_mini")
											span 27 ноября 2018




					.form-section
						.form-section__title Добавить комментарий
						p.form-section__subtitle Поля, отмеченные * обязательны для заполнения
						form.form-section__form.form-block.js-form
							.form-block__row.form-block__row--flex.form-block__row--flex-2
								input.js-required-field(type="text" placeholder="Ваше имя*")
								input.js-required-field(type="text" placeholder="Ваша фамилия*")

							.form-block__row
								textarea.js-required-field(placeholder="Текст комментария*:")

							.form-block__row.form-block__row--result
								button.btn.js-send-btn
										span.btn__inner Отправить
								.form-block__status-message.js-form-status Пожалуйста, заполните все обязательные поля

							.form-section__notice
								p Нажимая кнопку Подписаться, вы соглашаетесь получать персонализированную информацию и предложения, касающиеся "Технопарк высоких технологий Свердловской области", по электронной почте. #[a(href="#") Политика конфиденциальности.]



				include partails/sidebar-4.pug


		include partails/footer.pug
		include partails/scripts.pug
