doctype html
html(lang="ru")
	include partails/head.pug
	body

		include partails/header.pug

		.inner-top
			img.inner-top__img(src="images/inner-top-img.png" alt="")

		.page
			.page__container.page__container--inner.container
				.page__content
					.page__header.page-header
						.page-header__breadcrumbs.page-breadcrumbs
							ul
								li
									a(href='#') Главная
								li
									a(href='#') О технопарке
								li
									span Вакансии
						.page-header__content
							.page-header__subtitle Технопарк высоких технологий Свердловской области
							.page-header__title Вакансии


					.text-block.padding-block
						h3 Отдел по работе с резидентами


					.jobs.dropdown-section
						ul.dropdown-section__list
							each job in [1,2]
								li.job.js-dropdown-block.dropdown-section__item
									.js-dropdown-trigger.dropdown-section__header
										.dropdown-section__name
											.dropdown-section__name.dropdown-block__link Вакансия #{job}
											svg.dropdown-block__arrow.js-dropdown-arrow(enable-background="new 0 0 314.5 314.5" version="1.1" viewbox="0 0 314.5 314.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg")
												path(d="m314.5 90.5c0 6-2 13-7 18l-133 133c-5 5-10 7-17 7s-12-2-17-7l-133-133c-10-10-10-25 0-35s24-10 34 0l116 116 116-116c10-10 24-10 34 0 5 5 7 11 7 17z")
										.dropdown-section__right-text от 45 000
									.js-dropdown-target.dropdown-section__content
										.text-block
											h5 Описание
											p.
												В лучшую команду региона (Инжиниринговый Центр технопарка высоких технологий) требуется пополнение в лице менеджера по продажам восьмидесятого уровня.
												Нам нужен боец с нестандартным мышлением, у которого показатели прибыли вызывают азарт, а отказы клиентов заставляют сменить тактику и бросаться в бой с новыми силами, изобретать и применять новые подходы в продажах и убеждении клиентов.
												Мы предлагаем решать задачи на стыке классических продаж и управления проектами специалисту с техническим бэкграундом, понимающему все невероятные перспективы 3D-печати и других 3D-технологий.


											h5 Обязанности:
											ul
												li Продажа услуг по 3D сканированию и 3D печати (B2B – B2C);
												li Продажа услуг по моделированию и инженерному анализу (B2B);
												li Консультация клиентов о предоставляемых услугах;
												li Поиск новых клиентов, назначение и проведение встреч с первыми лицами компаний;
												li Дожимать «заснувших» клиентов;
												li Обработка входящих обращений (сайт, почта, звонки, мероприятия);
												li Проработка новых сегментов клиентской базы ("холодные" звонки);
												li Работа с поступающими заявками клиентов ("горячие" звонки);
												li Сопровождение клиента (счета, акты, контроль выполнения и сдача заказа);
												li Формирование отчетности, ведение базы в CRM;
												li Участие в выставках, конференциях, совещаниях и других мероприятиях;
												li Создание маркетинговых материалов


											h5 Требования:
											ul
												li Продажа услуг по 3D сканированию и 3D печати (B2B – B2C);
												li Продажа услуг по моделированию и инженерному анализу (B2B);
												li Консультация клиентов о предоставляемых услугах;
												li Поиск новых клиентов, назначение и проведение встреч с первыми лицами компаний;
												li Дожимать «заснувших» клиентов;
												li Обработка входящих обращений (сайт, почта, звонки, мероприятия);
												li Проработка новых сегментов клиентской базы ("холодные" звонки);
												li Работа с поступающими заявками клиентов ("горячие" звонки);
												li Сопровождение клиента (счета, акты, контроль выполнения и сдача заказа);
												li Формирование отчетности, ведение базы в CRM;
												li Участие в выставках, конференциях, совещаниях и других мероприятиях;
												li Создание маркетинговых материалов


											h5 Условия:

											ul
												li Продажа услуг по 3D сканированию и 3D печати (B2B – B2C);
												li Продажа услуг по моделированию и инженерному анализу (B2B);
												li Консультация клиентов о предоставляемых услугах;
												li Поиск новых клиентов, назначение и проведение встреч с первыми лицами компаний;
												li Дожимать «заснувших» клиентов;
												li Обработка входящих обращений (сайт, почта, звонки, мероприятия);
												li Проработка новых сегментов клиентской базы ("холодные" звонки);
												li Работа с поступающими заявками клиентов ("горячие" звонки);
												li Сопровождение клиента (счета, акты, контроль выполнения и сдача заказа);
												li Формирование отчетности, ведение базы в CRM;
												li Участие в выставках, конференциях, совещаниях и других мероприятиях;
												li Создание маркетинговых материалов
										.dropdown-section__slideup.js-dropdown-slideup
											span Cвернуть
											svg.dropdown-block__arrow.js-dropdown-arrow(enable-background="new 0 0 314.5 314.5" version="1.1" viewbox="0 0 314.5 314.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg")
												path(d="m314.5 90.5c0 6-2 13-7 18l-133 133c-5 5-10 7-17 7s-12-2-17-7l-133-133c-10-10-10-25 0-35s24-10 34 0l116 116 116-116c10-10 24-10 34 0 5 5 7 11 7 17z")


					.text-block.padding-block
						h3 Вакансии компании «Постэкс»



					.jobs.dropdown-section
						ul.dropdown-section__list
							each job in [1,2]
								li.job.js-dropdown-block.dropdown-section__item
									.js-dropdown-trigger.dropdown-section__header
										.dropdown-section__name
											.dropdown-section__name.dropdown-block__link Вакансия #{job}
											svg.dropdown-block__arrow.js-dropdown-arrow(enable-background="new 0 0 314.5 314.5" version="1.1" viewbox="0 0 314.5 314.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg")
												path(d="m314.5 90.5c0 6-2 13-7 18l-133 133c-5 5-10 7-17 7s-12-2-17-7l-133-133c-10-10-10-25 0-35s24-10 34 0l116 116 116-116c10-10 24-10 34 0 5 5 7 11 7 17z")
										.dropdown-section__right-text от 45 000
									.js-dropdown-target.dropdown-section__content
										.text-block
											h5 Описание
											p.
												В лучшую команду региона (Инжиниринговый Центр технопарка высоких технологий) требуется пополнение в лице менеджера по продажам восьмидесятого уровня.
												Нам нужен боец с нестандартным мышлением, у которого показатели прибыли вызывают азарт, а отказы клиентов заставляют сменить тактику и бросаться в бой с новыми силами, изобретать и применять новые подходы в продажах и убеждении клиентов.
												Мы предлагаем решать задачи на стыке классических продаж и управления проектами специалисту с техническим бэкграундом, понимающему все невероятные перспективы 3D-печати и других 3D-технологий.


											h5 Обязанности:
											ul
												li Продажа услуг по 3D сканированию и 3D печати (B2B – B2C);
												li Продажа услуг по моделированию и инженерному анализу (B2B);
												li Консультация клиентов о предоставляемых услугах;
												li Поиск новых клиентов, назначение и проведение встреч с первыми лицами компаний;
												li Дожимать «заснувших» клиентов;
												li Обработка входящих обращений (сайт, почта, звонки, мероприятия);
												li Проработка новых сегментов клиентской базы ("холодные" звонки);
												li Работа с поступающими заявками клиентов ("горячие" звонки);
												li Сопровождение клиента (счета, акты, контроль выполнения и сдача заказа);
												li Формирование отчетности, ведение базы в CRM;
												li Участие в выставках, конференциях, совещаниях и других мероприятиях;
												li Создание маркетинговых материалов


											h5 Требования:
											ul
												li Продажа услуг по 3D сканированию и 3D печати (B2B – B2C);
												li Продажа услуг по моделированию и инженерному анализу (B2B);
												li Консультация клиентов о предоставляемых услугах;
												li Поиск новых клиентов, назначение и проведение встреч с первыми лицами компаний;
												li Дожимать «заснувших» клиентов;
												li Обработка входящих обращений (сайт, почта, звонки, мероприятия);
												li Проработка новых сегментов клиентской базы ("холодные" звонки);
												li Работа с поступающими заявками клиентов ("горячие" звонки);
												li Сопровождение клиента (счета, акты, контроль выполнения и сдача заказа);
												li Формирование отчетности, ведение базы в CRM;
												li Участие в выставках, конференциях, совещаниях и других мероприятиях;
												li Создание маркетинговых материалов


											h5 Условия:

											ul
												li Продажа услуг по 3D сканированию и 3D печати (B2B – B2C);
												li Продажа услуг по моделированию и инженерному анализу (B2B);
												li Консультация клиентов о предоставляемых услугах;
												li Поиск новых клиентов, назначение и проведение встреч с первыми лицами компаний;
												li Дожимать «заснувших» клиентов;
												li Обработка входящих обращений (сайт, почта, звонки, мероприятия);
												li Проработка новых сегментов клиентской базы ("холодные" звонки);
												li Работа с поступающими заявками клиентов ("горячие" звонки);
												li Сопровождение клиента (счета, акты, контроль выполнения и сдача заказа);
												li Формирование отчетности, ведение базы в CRM;
												li Участие в выставках, конференциях, совещаниях и других мероприятиях;
												li Создание маркетинговых материалов
										.dropdown-section__slideup.js-dropdown-slideup
											span Cвернуть
											svg.dropdown-block__arrow.js-dropdown-arrow(enable-background="new 0 0 314.5 314.5" version="1.1" viewbox="0 0 314.5 314.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg")
												path(d="m314.5 90.5c0 6-2 13-7 18l-133 133c-5 5-10 7-17 7s-12-2-17-7l-133-133c-10-10-10-25 0-35s24-10 34 0l116 116 116-116c10-10 24-10 34 0 5 5 7 11 7 17z")


				include partails/sidebar-2.pug

		include partails/footer.pug
		include partails/scripts.pug
