doctype html
html(lang="ru")
	include partails/head.pug
	body

		include partails/header.pug

		.inner-top
			img.inner-top__img(src="images/inner-top-img.png" alt="")

		.page.page--bg-white
			.page__container.page__container--inner.container
				.page__content
					.page__header.page-header.page-header--inline
						.page-header__breadcrumbs.page-breadcrumbs
							ul
								li
									a(href='#') Главная
								li
									a(href="#") Пресс-центр
								li
									span Новости
						.page-header__content
							.page-header__subtitle Технопарк высоких технологий Свердловской области
							.page-header__title Все новости


					.page-filters
						.page-filters__left
							.page-filters__label За период:
							select.page-filters__select.mr-1
								option Вариант 1
								option Вариант 2
								option Вариант 3

							select.page-filters__select.mr-1
								option 2018
								option 2017
								option 2016
							button.page-filters__btn.btn
								span.btn__inner Показать

						.page-filters__right
							.page-filters__label Тема:
							select.page-filters__select
								option Все новости
								option Проведенные мероприятия
								option Ближайшие мероприятия
								option Презентации
								option Инновации




			.news.news--bg-purple
				.container
					.news__list
						.row
							each i in [1,2,3,3,2,1,2,1,3]
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									a.news__item(href="#")
										.news__image
											img(src="images/news-"+i+".jpg" width="360" height="300" alt="")
										.news__content
											.news__hashtag  #Новости
											.news__description
												.news__date  3 ноября 2018
												.news__title-news  Десант сколково в технопарке «Университетском»
												.news__text
													| Остается чуть более трех суток для регистрации желающих участвовать в Школе «Навигатор инноватора». Мероприятие организовано Фондом Сколково, Открытым университетом Сколково и Технопарком «Университетский». Регистрация производится на сайте Открытого университета Сколково.
												.news__details  Подробнее


			.pagination
				a(href='#').pagination__arrow
					svg
						use(xlink:href="#2--arrow_left")
				ul.pagination__list
					li.pagination__item.is-current
						span.pagination__link 1
					li.pagination__item
						span.pagination__link 2
					li.pagination__item
						span.pagination__link 3
					li.pagination__item
						span.pagination__link ...
					li.pagination__item
						span.pagination__link 12
				a(href='#').pagination__arrow
					svg
						use(xlink:href="#2--arrow_right")



		include partails/footer.pug
		include partails/scripts.pug



