doctype html
html(lang="ru")
	include partails/head.pug
	body

		include partails/header.pug

		.inner-top
			img.inner-top__img(src="images/inner-top-img.png" alt="")

		.page.search.page--bg-white
			.page__container.page__container--inner.container
				.page__content
					.page__header.page-header.page-header--inline
						.page-header__breadcrumbs.page-breadcrumbs
							ul
								li
									a(href='#') Главная
								li
									span Результаты поиска
						.page-header__content
							.page-header__subtitle Технопарк высоких технологий Свердловской области
							.page-header__title Результаты поиска


					.search__block
						form.search-field
							input.search-field__input(type="text" placeholder="Начать новый поиск")
							button.search-field__button
								svg.svg-search
									use(xlink:href="#32--search")

					.text-block.padding-block
						h3 По запросу "Навигатор инноватора"
						p Найдено 12 результатов

					.articles.search__articles
						.articles__list
							each i in [1,2,1,2]
								article.articles__item.article.article--search
									.article__img-wrapp
										img.article__img(src="images/article-img-"+i+".jpg", alt="")
									.article__content
										a.article__link(href="#") #[h2.article__title #[span.s-marker Навигатор] Инноватора: успевайте подать заявку]
										p.article__text У вас есть проект или идея? Есть большое желание реализовать это, но нет возможности? Записывайтесь на полезное и интересное мероприятие Остается чуть более трех суток для регистрации желающих участвовать в Школе «#[span.s-marker Навигатор] инноватора».
										.article__info
											p.article__label Новость
											.article__tags
												a(href="#") #Екатеринбург
												a(href="#") #Тег 2
												a(href="#") #Тег 3


					.pagination
						a(href='#').pagination__arrow
							svg
								use(xlink:href="#2--arrow_left")
						ul.pagination__list
							li.pagination__item.is-current
								span.pagination__link 1
							li.pagination__item
								span.pagination__link 2
							li.pagination__item
								span.pagination__link 3
							li.pagination__item
								span.pagination__link ...
							li.pagination__item
								span.pagination__link 12
						a(href='#').pagination__arrow
							svg
								use(xlink:href="#2--arrow_right")


			.search__redirect
				.container
					include partails/redirect.pug


		include partails/footer.pug
		include partails/scripts.pug
