.person__img-wrapp
    img.person__img(src="images/person-img.png" alt="")
.person__content
    .person__title По всем вопросам, связанным с арендой помещений, обращайтесь:
    .person__name Марина Аросланкина
    .person__position Начальник отдела по работе с резидентами
    .person__contacts
        a.person__phone(href="tel:89122492347") +7 (912) 24 92 347
        a.person__email(href="mailto:amv@uralhitech.ru ") amv@uralhitech.ru