.redirect-grid
    .redirect-grid__item
        svg(class="redirect-grid__img svg-about")
            use(xlink:href="#2--about")
        p.redirect-grid__title На главную
        p.redirect-grid__text Вернитесь на главную и попробуйте найти то что искали вновь
        a.redirect-grid__btn.btn(href="#")
            span.btn__inner На главную

    .redirect-grid__item
        svg(class="redirect-grid__img svg-service-spec")
            use(xlink:href="#32--service-spec2")
        p.redirect-grid__title Инжиниринговый центр
        p.redirect-grid__text Центр компьютерного инжиниринга, направленный на решение производственных задач.
        a.redirect-grid__btn.btn(href="#")
            span.btn__inner Подробнее

    .redirect-grid__item
        svg(class="redirect-grid__img svg-service-cons")
            use(xlink:href="#32--service-cons2")
        p.redirect-grid__title Обратная связь
        p.redirect-grid__text Если вы не можете найти что-то - задайте вопрос нам, мы постаемся ответить вам
        a.redirect-grid__btn.btn(href="#")
            span.btn__inner Спросить