.page__sidebar.sidebar
    .sidebar__container#sticky

        .sidebar__block.sidebar-tags
            .sidebar__title Популярные теги
            ul.sidebar-tags__list
                li.sidebar-tags__item
                    a.sidebar-tags__link(href="#")
                        span.sidebar-tags__text Сенбярь
                li.sidebar-tags__item
                    a.sidebar-tags__link(href="#")
                        span.sidebar-tags__text НКО
                li.sidebar-tags__item
                    a.sidebar-tags__link(href="#")
                        span.sidebar-tags__text Навигатор Инноватора
                li.sidebar-tags__item
                    a.sidebar-tags__link(href="#")
                        span.sidebar-tags__text Екатеринбург
                li.sidebar-tags__item
                    a.sidebar-tags__link(href="#")
                        span.sidebar-tags__text Технопарк


        form.sidebar__block.sidebar-period.form-block.js-form(action="")
            .sidebar__title Период проведения
            .sidebar-period__grid
                .sidebar-period__item
                    .sidebar-period__tip Дата начала
                    input.js-required-field(type="text" placeholder="01.09.2018")
                .sidebar-period__line -
                .sidebar-period__item
                    .sidebar-period__tip Окончания:
                    input(.js-required-fieldtype="text" placeholder="10.09.2018")
            button.sidebar-period__btn.btn.js-send-btn
                span.btn__inner Показать события


        .sidebar__block.sidebar-subscribe
            .sidebar__title Будь в курсе! #[svg.svg-subscribe #[use(xlink:href="#16--subscribe")]]
            .sidebar__subtitle Подпишитесь на рассылку предстоящих мероприятий и будьте в курсе всех важных событий Технопарка:

            form.form-block.js-form
                input.js-required-field(placeholder="Ваша почта" type="email")

                label.check-item
                    input(type="checkbox" name="policy" required)
                    span.check-item__square
                    span.check-item__text Я даю согласие на обработку #[a(href="#") персональных данных*]

                button.sidebar__btn.btn.js-send-btn
                    span.btn__inner Отправить

                .form-block__status-message.js-form-status Пожалуйста, заполните все необходимые поля


        .sidebar__block.sidebar-events
            ul.sidebar-events__list
                each i in [2,3]
                    .sidebar-events__item.event.event--sidebar
                        img.event__img(src="images/event-img-"+i+".jpg" alt="")
                        .event__content
                            .event__date 23 октября 2018
                            a.event__name Семинар-практикум по независимой оценке квалификаций «Оценка квалификации.
